<component name="libraryTable">
  <library name="SpringLib2">
    <CLASSES>
      <root url="file://$PROJECT_DIR$/../../Java Class/8th session/8/SpringLib2" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
    <jarDirectory url="file://$PROJECT_DIR$/../../Java Class/8th session/8/SpringLib2" recursive="false" />
  </library>
</component>